* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}
section {
    margin: 50px;
    padding: 20px;
}
footer {
    margin: auto;
    margin-top: -170px;
    height: 540px;
    background-image: url('../footer.png');
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: 0px;
}
.footer_h1{
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-top: 430px;
    margin-left: 100px;
}
.footer_p{
    position: absolute;
    margin-top: 480px;
    margin-left: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
/*Estilo da Navegação*/

.navegacao {
    background-color: #2BA378;
}

.titulo-nav-menu {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 82px;
    color: #FFFFFF;
}

.menu-item {
    text-decoration: none;
    inline-size: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-left: 20px;
    color: #FFFFFF;
}

.navegacao .botao {
    text-decoration: none;
    background-color: #11BA59;
    color: #FFFFFF;
}

/*Estilo do Mapa*/

#map {
    width: 100%;
    height: 490px;
    margin-top: -45px;
    margin-bottom: -30px;
}
.local{
    width: 100%;
    max-width: 1320px;
    margin-top: -60px;
}
.botaoMapa{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilo da pagina sobre*/

.carrosel {
    width: 415px;
    height: 400px;
    background: #219653;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
}

.card-title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 25px;
}

.card-text {
    font-family: Lato;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    margin: auto;
    margin-top: 40px;
    width: 315px;
}

.span_texto {
    font-size: 30px;
    padding-left: 35px;
}

.p_sobre {
    font-size: 25px;
    margin-top: 40px;
}

/*Estilo da pagina home*/

.titulo-home {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 62px;
    line-height: 94px;
}

.sub-titulo-home {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    padding: 5px;
}

.p_home {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    padding: 5px;
}
.botao_home{
    margin-left: 460px;
}

/*Estilo dos formularios de login, adicionar e editar*/

.card_style {
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-top: -30px;
}

.card-add {
    margin-top: -5px;
    margin-bottom: -190px;
}

.card-edit {
    margin-top: -5px;
    margin-bottom: -190px;
}
.card-login{
    margin-top: -5px;
    margin-bottom: -240px;
}
.alert{
    margin-top: -60px;
    margin-bottom: -20px;
}
@media only screen and (max-width: 600px) {
    .menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        font-size: 25px;
    }
    .titulo-home {
        font-size: 32px;
        line-height: 30px;
    }
    .sub-titulo-home {
        font-size: 22px;
    }
    .p_home {
        font-size: 18px;
    }
    .navegacao .botao {
        margin-left: 170px;
        margin-top: 5px;
    }
    footer {
        display: none;
        background-image: none;
        height: 0px;
    }
    .botao_home{
        margin-left: 30px;
        margin-right: 30px;
    }
    #map {
        width: 100%;
        height: 200px;
        margin-top: 20px;
    }
    .local{
        width: 100%;

    }
    .local-item{
        margin-top: 20px;
    }
    .footer_h1{
        display: none;

    }
    .footer_p{
        display: none;
    }
}
